
:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSansXRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSansXBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;




html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}


* {
  font-family: 'IRANSans', sans-serif;
}

/* تنظیمات اصلی برای بدنه سایت */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'IRANSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* استایل برای لینک‌ها */
a {
  color: inherit;
  text-decoration: none;
}

